@import '~antd/dist/antd.css';

 *{
   margin: 0;
 }

 .App {
   background-color: #111;
 }
 img{
  width: 100%;
  max-width: 100%;
}
a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.spinnerdiv{
  height: 3vh;
  width: 100%;
}

.spinner{
  align-items: center;
  place-items: center;
  display: grid;
}