.footer {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
     
}

.dark {
    color: black;
}
.white{
    color: white;
}
.loveIcon{
    color: red !important;
}